<!DOCTYPE html>
<html>
<head>
  <title>Modernization</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <tr><td><%= image_tag("Slogo.jpg")%></td><td><b><font size="5">     Modernization Project</font></b></td></tr>
<tr><td><hr size="2" ></hr></td></tr>
</head>
<body>

<%= yield %>

</body>
</html>
